@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway');
@import "~bulma/bulma";
*, *:before, *:after {
  box-sizing: border-box;
}
    #mainHeading {
      nav {
        ul {
          display:flex;
          justify-content: flex-end;
        li:not(:last-child) {
          margin-right: 1rem;
        }
          a.nuxt-link-active {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
        .social-menu {
            ul {
              display: flex;
              margin-top: 1rem;
                @include tablet {
                  justify-content: flex-end;
                }
            li {
                &:not(:last-child) {
                   margin-right: 1rem;
                 }
            }
        }
            i {
              font-size: 1.5rem;
              transition: 0.5s color;
                &:hover {
                   color: $tertiary;
                 }
                @include tablet {
                  font-size: 3rem;
                }
            }
        }
    }
.is-hero {
  background: darken($primary, 10%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
  h2.subtitle {
    color: $white;
    font-size: 2rem;
  }
  h1.title {
    color: $secondary;
    font-size: 2.5rem;
  }
}
.what-i-use {
   ul {
     @include tablet {
       display: flex;
       justify-content: space-between;
     }
     li:not(:first-child) {
       margin-top: 3rem;
       @include tablet {
         margin-top: 0;
       }
     }
   }
   article {
     @include tablet {
       text-align: left;
     }
     text-align: center;
   }
   img {
     text-align: center;
     height: 10rem;
     width: auto;
   }
   h2 {
     margin-top: 2rem;
     text-align: center;
   }
 }
.dateline {
  font-weight: bold;
}
.blog-content__header {
  border-bottom: 1px dashed #cccccc;
  margin-bottom: 1rem;
  h1 {
    margin-bottom: 1rem;
  }
}
